In [1]:
__name__

'__main__'

In [2]:
import pandas as pd

# The groupby() Method

In [3]:
fortunes_location = "D:\\LIUZHICHENG\\Udemy\\Pandas\\Data Source\\pandas\\fortune1000.csv"
fortunes = pd.read_csv(fortunes_location, index_col=["Rank"])
fortunes.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [4]:
sectors = fortunes.groupby(by="Sector", axis=0)

In [5]:
type(fortunes)

pandas.core.frame.DataFrame

In [6]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

In [7]:
len(fortunes)

1000

In [8]:
len(sectors)

21

In [9]:
fortunes.loc[:,"Sector"].nunique()

21

In [10]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [11]:
sectors.size().sort_values(ascending=False)

Sector
Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Food and Drug Stores             15
Telecommunications               15
Apparel                          15
dtype: int64

In [12]:
fortunes.loc[:,"Sector"].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Telecommunications               15
Apparel                          15
Food and Drug Stores             15
Name: Sector, dtype: int64

In [13]:
fortunes.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [14]:
# extract the every first row from grouping data
sectors.first()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [15]:
# extract the every last row from grouping data
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [16]:
fortunes.loc[24]

Company                     Boeing
Sector         Aerospace & Defense
Industry     Aerospace and Defense
Location               Chicago, IL
Revenue                      96114
Profits                       5176
Employees                   161400
Name: 24, dtype: object

In [17]:
# return a dictionary
# keys -> group object
# values -> the index label
sectors.groups

{'Aerospace & Defense': [24, 45, 60, 88, 118, 120, 209, 245, 282, 378, 389, 490, 560, 605, 785, 788, 836, 903, 958, 987], 'Apparel': [91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877, 882, 917], 'Business Services': [144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404, 440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694, 714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796, 801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993], 'Chemicals': [56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549, 555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829, 865, 898, 934, 949], 'Energy': [2, 14, 30, 32, 42, 65, 90, 95, 98, 104, 115, 117, 121, 162, 163, 165, 166, 175, 178, 188, 190, 192, 193, 198, 214, 216, 217, 223, 225, 229, 243, 246, 247, 257, 272, 274, 279, 289, 319, 322, 324, 343, 348, 349, 350, 363, 364, 384, 387, 388, 394, 402, 403, 410, 425, 437, 438, 445, 458, 475, 483, 493, 507, 522, 541, 548, 556, 558, 569, 571, 579, 598, 600, 606, 633, 650, 656, 662, 679, 692, 696, 703, 703, 706, 711, 715, 732, 742, 743, 745, 754, 772, 784, 798, 802, 810, 817, 826, 843, 850, ...], 'Engineering & Construction': [155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516, 572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994], 'Financials': [4, 16, 23, 26, 27, 29, 35, 40, 43, 49, 50, 61, 69, 73, 74, 76, 78, 81, 82, 83, 85, 100, 105, 112, 114, 131, 135, 137, 152, 171, 179, 184, 205, 210, 222, 226, 227, 232, 236, 250, 252, 259, 264, 265, 271, 273, 275, 283, 298, 306, 311, 318, 326, 329, 332, 344, 347, 367, 368, 376, 382, 398, 401, 411, 421, 436, 442, 449, 453, 453, 471, 472, 472, 476, 479, 482, 486, 488, 494, 497, 499, 506, 509, 510, 520, 529, 531, 536, 540, 551, 561, 568, 573, 590, 603, 609, 611, 646, 651, 663, ...], 'Food and Drug Stores': [7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849, 928], 'Food, Beverages & Tobacco': [41, 44, 62, 66, 84, 94, 106, 149, 153, 161, 176, 207, 215, 242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535, 542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795, 804, 889, 902, 954], 'Health Care': [5, 6, 12, 21, 22, 33, 39, 46, 52, 55, 63, 72, 79, 86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202, 263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420, 430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618, 629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815, 818, 845, 868, 881, 883, 935, 960, 965, 977, 978], 'Hotels, Resturants & Leisure': [109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557, 562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999], 'Household Products': [34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455, 533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950, 967, 992], 'Industrials': [11, 59, 75, 93, 97, 128, 134, 148, 211, 224, 360, 377, 396, 412, 419, 539, 544, 596, 622, 623, 630, 645, 655, 658, 666, 674, 690, 757, 782, 789, 806, 813, 823, 831, 832, 835, 841, 847, 866, 867, 873, 887, 942, 947, 964, 1000], 'Materials': [126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417, 418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620, 625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857, 885, 911, 982, 986], 'Media': [53, 96, 99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681, 705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989], 'Motor Vehicles & Parts': [8, 9, 70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470, 588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979], 'Retailing': [1, 15, 28, 38, 47, 71, 89, 103, 111, 132, 136, 139, 143, 145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267, 269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379, 380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582, 592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748, 771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937, 940, 973], 'Technology': [3, 18, 20, 25, 31, 36, 51, 54, 77, 110, 113, 133, 150, 157, 158, 164, 173, 194, 219, 220, 230, 233, 284, 295, 300, 308, 313, 331, 385, 386, 400, 408, 409, 422, 451, 462, 464, 487, 491, 504, 505, 508, 513, 519, 524, 532, 543, 552, 563, 565, 584, 589, 593, 594, 612, 632, 634, 638, 649, 659, 673, 676, 678, 682, 688, 700, 725, 733, 736, 753, 760, 769, 778, 805, 830, 834, 842, 854, 864, 871, 888, 891, 893, 896, 904, 905, 906, 909, 912, 914, 919, 927, 931, 943, 944, 946, 956, 970, 971, 975, ...], 'Telecommunications': [10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619, 786], 'Transportation': [48, 58, 67, 68, 80, 129, 142, 208, 239, 270, 353, 390, 395, 405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713, 740, 800, 814, 858, 884, 930, 933, 945, 972, 974], 'Wholesalers': [57, 64, 92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285, 315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477, 484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875, 991]}

# Retrieve A Group with the .get_group() Method

In [18]:
fortunes_location = "D:\\LIUZHICHENG\\Udemy\\Pandas\\Data Source\\pandas\\fortune1000.csv"
fortunes = pd.read_csv(fortunes_location, index_col=["Rank"])
sectors = fortunes.groupby(by=["Sector"], axis=0)
sectors.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
261,Estee Lauder,Household Products,Household and Personal Products,"New York, NY",10780,1089,44000
301,Lennar,Engineering & Construction,Homebuilders,"Miami, FL",9474,803,7749
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300

In [19]:
# get all values related to Energy group
sectors.get_group(name="Energy")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [20]:
# get all values related to Apparel group
sectors.get_group(name="Apparel")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

# Methods on the Groupby Object and DateFrame Columns

In [21]:
fortunes_location = "D:\\LIUZHICHENG\\Udemy\\Pandas\\Data Source\\pandas\\fortune1000.csv"
fortunes = pd.read_csv(fortunes_location, index_col=["Rank"])
sectors = fortunes.groupby(by=["Sector"], axis=0)
sectors.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
261,Estee Lauder,Household Products,Household and Personal Products,"New York, NY",10780,1089,44000
301,Lennar,Engineering & Construction,Homebuilders,"Miami, FL",9474,803,7749
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300

In [22]:
# it won't return the dataframe and it just returns a location
sectors

In [23]:
# get a minimum alphabetical order from Company column
sectors.min()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,B/E Aerospace,Aerospace and Defense,"Berwyn, PA",1923,-240,6955
Apparel,Carter’s,Apparel,"Atlanta, GA",2204,82,5978
Business Services,ABM Industries,"Advertising, marketing","Arlington, VA",1910,-1481,2400
Chemicals,A. Schulman,Chemicals,"Allentown, PA",2084,-816,1979
Energy,AES,Energy,"Akron, OH",1898,-23119,480
Engineering & Construction,AECOM,"Engineering, Construction","Atlanta, GA",1909,-155,1036
Financials,AIG,Commercial Banks,"Atlanta, GA",1902,-1194,187
Food and Drug Stores,CVS Health,Food and Drug Stores,"Austin, TX",2151,-62,1616
"Food, Beverages & Tobacco",Alliance One International,Beverages,"Arden Hills, MN",2066,-253,1857
Health Care,AbbVie,Health Care: Insurance and Managed Care,"Abbott Park, IL",1987,-458,2924
"Hotels, Resturants & Leisure",Bloomin’ Brands,Food Services,"Ann Arbor, MI",1896,-1394,8500
Household Products,Avon Products,"Home Equipment, Furnishings","Atlanta, GA",1914,-1149,4406
Industrials,3M,Construction and Farm Machinery,"Annapolis Junction, MD",1895,-6126,4104
Materials,A-Mark Precious Metals,"Building Materials, Glass","Atlanta, GA",1924,-1642,52
Media,AMC Networks,Entertainment,"Beverly Hills, CA",1921,-881,2341
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Akron, OH",1986,-889,2700
Retailing,99 Cents Only Stores,"Automotive Retailing, Services","Ankeny, IA",1999,-1243,2155
Technology,Activision Blizzard,Computer Peripherals,"Angleton, TX",1920,-4359,2285
Telecommunications,AT&T,Telecommunications,"Bethpage, NY",2726,-271,2700
Transportation,Alaska Air Group,Airlines,"Atlanta, GA",1995,-191,1223
Wholesalers,Airgas,Miscellaneous,"Atlanta, GA",1917,-502,500

In [24]:
# get a maximum alphabetical order from Company column
sectors.max()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

In [25]:
# get a sum for all numerical columns
sectors.sum()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [26]:
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [27]:
sectors["Revenue"].sum().to_frame()

                              Revenue
Sector
Aerospace & Defense            357940
Apparel                         95968
Business Services              272195
Chemicals                      243897
Energy                        1517809
Engineering & Construction     153983
Financials                    2217159
Food and Drug Stores           483769
Food, Beverages & Tobacco      555967
Health Care                   1614707
Hotels, Resturants & Leisure   169546
Household Products             234737
Industrials                    497581
Materials                      259145
Media                          220764
Motor Vehicles & Parts         482540
Retailing                     1465076
Technology                    1377600
Telecommunications             461834
Transportation                 408508
Wholesalers                    444800

In [28]:
sectors["Employees"].sum()

Sector
Aerospace & Defense              968057
Apparel                          346397
Business Services               1361050
Chemicals                        463651
Energy                          1188927
Engineering & Construction       406708
Financials                      3359948
Food and Drug Stores            1395398
Food, Beverages & Tobacco       1211632
Health Care                     2678289
Hotels, Resturants & Leisure    2484245
Household Products               646038
Industrials                     1545229
Materials                        638123
Media                            550314
Motor Vehicles & Parts          1082560
Retailing                       6227629
Technology                      3578949
Telecommunications               832468
Transportation                  1536793
Wholesalers                      525597
Name: Employees, dtype: int64

In [29]:
# get the highest profit in each sector
sectors["Profits"].max().sort_values(ascending=False)

Sector
Technology                      53394
Financials                      24442
Health Care                     18108
Telecommunications              17879
Energy                          16150
Retailing                       14694
Motor Vehicles & Parts           9687
Media                            8382
Chemicals                        7685
Transportation                   7610
Aerospace & Defense              7608
Food, Beverages & Tobacco        7351
Household Products               7036
Business Services                6328
Hotels, Resturants & Leisure     5920
Food and Drug Stores             5237
Industrials                      4833
Apparel                          3273
Wholesalers                      1472
Materials                         991
Engineering & Construction        803
Name: Profits, dtype: int64

In [30]:
sectors[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

# Grouping by Multiple Columns

In [35]:
fortunes_location = "D:\\LIUZHICHENG\\Udemy\\Pandas\\Data Source\\pandas\\fortune1000.csv"
fortunes = pd.read_csv(fortunes_location, index_col=["Rank"])
sectors = fortunes.groupby(by=["Sector", "Industry"], axis=0)
# group by Sector, Industry

In [36]:
sectors.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [39]:
sectors.sum()

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            28742
Apparel             Apparel                                           8236
Business Services   Advertising, marketing                            1549
                    Diversified Outsourcing Services                  4305
                    Education                                           69
...                                                                    ...
Transportation      Trucking, Truck Leasing                           1910
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                          5193
                    Wholesalers: Electronics and Office Equipment     1857
                    Wholesalers: Food and Grocery                     1166

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             968057
Apparel             Apparel                                           346397
Business Services   Advertising, marketing                            124100
                    Diversified Outsourcing Services                  708330
                    Education                                          46755
...                                                                      ...
Transportation      Trucking, Truck Leasing                           170456
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                          233831
                    Wholesalers: Electronics and Office Equipment     166661
                    Wholesalers: Food and Grocery                     115905

[79 rows x 3 columns]

In [47]:
sectors[["Revenue", "Employees"]].sum()

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             968057
Apparel             Apparel                                           346397
Business Services   Advertising, marketing                            124100
                    Diversified Outsourcing Services                  708330
                    Education                                          46755
...                                                                      ...
Transportation      Trucking, Truck Leasing                           170456
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                          233831
                    Wholesalers: Electronics and Office Equipment     166661
                    Wholesalers: Food and Grocery                     115905

[79 rows x 2 columns]

# The .agg() Method

In [49]:
fortunes_location = "D:\\LIUZHICHENG\\Udemy\\Pandas\\Data Source\\pandas\\fortune1000.csv"
fortunes = pd.read_csv(fortunes_location, index_col=["Rank"])
sectors = fortunes.groupby(by=["Sector"], axis=0)
# group by Sector

In [52]:
# 'DataFrameGroupBy' object has no attribute 'loc'
sectors.loc[:, "Revenue"].sum()

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [54]:
sectors["Revenue"].sum().to_frame()

                              Revenue
Sector
Aerospace & Defense            357940
Apparel                         95968
Business Services              272195
Chemicals                      243897
Energy                        1517809
Engineering & Construction     153983
Financials                    2217159
Food and Drug Stores           483769
Food, Beverages & Tobacco      555967
Health Care                   1614707
Hotels, Resturants & Leisure   169546
Household Products             234737
Industrials                    497581
Materials                      259145
Media                          220764
Motor Vehicles & Parts         482540
Retailing                     1465076
Technology                    1377600
Telecommunications             461834
Transportation                 408508
Wholesalers                    444800

In [51]:
# same as the above one
sectors.agg({"Revenue":"sum"})

                              Revenue
Sector
Aerospace & Defense            357940
Apparel                         95968
Business Services              272195
Chemicals                      243897
Energy                        1517809
Engineering & Construction     153983
Financials                    2217159
Food and Drug Stores           483769
Food, Beverages & Tobacco      555967
Health Care                   1614707
Hotels, Resturants & Leisure   169546
Household Products             234737
Industrials                    497581
Materials                      259145
Media                          220764
Motor Vehicles & Parts         482540
Retailing                     1465076
Technology                    1377600
Telecommunications             461834
Transportation                 408508
Wholesalers                    444800

In [55]:
# based on the sectors groups,
# return sum of the Revenue, median of the Profits and mean of the Employees
sectors.agg(func={"Revenue":"sum", "Profits":"median", "Employees":"mean"})

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940    566.5  48402.850000
Apparel                         95968    233.0  23093.133333
Business Services              272195    296.0  26687.254902
Chemicals                      243897    367.5  15455.033333
Energy                        1517809    188.5   9745.303279
Engineering & Construction     153983    150.5  15642.615385
Financials                    2217159    583.0  24172.287770
Food and Drug Stores           483769    192.0  93026.533333
Food, Beverages & Tobacco      555967    498.0  28177.488372
Health Care                   1614707    346.0  35710.520000
Hotels, Resturants & Leisure   169546    195.0  99369.800000
Household Products             234737    274.0  23072.785714
Industrials                    497581    215.0  33591.934783
Materials                      259145    142.0  14840.069767
Media                          220764    151.0  22012.560000
Motor Vehicles & Parts         482540    233.0  45106.666667
Retailing                     1465076    182.0  77845.362500
Technology                    1377600    373.0  35087.735294
Telecommunications             461834    747.0  55497.866667
Transportation                 408508    392.0  42688.694444
Wholesalers                    444800    128.0  13139.925000

In [57]:
# return size, sum and mean for every numerical columns
sectors.agg(func=["size", "sum", "mean", "median", "max", "min"])

                             Revenue                                         \
                                size      sum          mean  median     max
Sector
Aerospace & Defense               20   357940  17897.000000  6832.0   96114
Apparel                           15    95968   6397.866667  3963.0   30601
Business Services                 51   272195   5337.156863  3160.0   19330
Chemicals                         30   243897   8129.900000  4224.0   48778
Energy                           122  1517809  12441.057377  5271.0  246204
Engineering & Construction        26   153983   5922.423077  4564.5   18114
Financials                       139  2217159  15950.784173  5674.0  210821
Food and Drug Stores              15   483769  32251.266667  3971.0  153290
Food, Beverages & Tobacco         43   555967  12929.465116  6028.0   67702
Health Care                       75  1614707  21529.426667  7098.0  181241
Hotels, Resturants & Leisure      25   169546   6781.840000  4378.0   25413
Household Products                28   234737   8383.464286  4553.0   78756
Industrials                       46   497581  10816.978261  3451.5  140389
Materials                         43   259145   6026.627907  4160.0   22534
Media                             25   220764   8830.560000  3242.0   52465
Motor Vehicles & Parts            24   482540  20105.833333  5752.0  152356
Retailing                         80  1465076  18313.450000  6671.5  482130
Technology                       102  1377600  13505.882353  4059.5  233715
Telecommunications                15   461834  30788.933333  8229.0  146801
Transportation                    36   408508  11347.444444  5215.0   58363
Wholesalers                       40   444800  11120.000000  7356.0   48681

                                   Profits                                     \
                               min    size     sum         mean median    max
Sector
Aerospace & Defense           1923      20   28742  1437.100000  566.5   7608
Apparel                       2204      15    8236   549.066667  233.0   3273
Business Services             1910      51   28227   553.470588  296.0   6328
Chemicals                     2084      30   22628   754.266667  367.5   7685
Energy                        1898     122  -73447  -602.024590  188.5  16150
Engineering & Construction    1909      26    5304   204.000000  150.5    803
Financials                    1902     139  260209  1872.007194  583.0  24442
Food and Drug Stores          2151      15   16759  1117.266667  192.0   5237
Food, Beverages & Tobacco     2066      43   51417  1195.744186  498.0   7351
Health Care                   1987      75  106114  1414.853333  346.0  18108
Hotels, Resturants & Leisure  1896      25   20697   827.880000  195.0   5920
Household Products            1914      28   14428   515.285714  274.0   7036
Industrials                   1895      46   20764   451.391304  215.0   4833
Materials                     1924      43    4428   102.976744  142.0    991
Media                         1921      25   24347   973.880000  151.0   8382
Motor Vehicles & Parts        1986      24   25898  1079.083333  233.0   9687
Retailing                     1999      80   47830   597.875000  182.0  14694
Technology                    1920     102  180473  1769.343137  373.0  53394
Telecommunications            2726      15   48637  3242.466667  747.0  17879
Transportation                1995      36   44169  1226.916667  392.0   7610
Wholesalers                   1917      40    8233   205.825000  128.0   1472

                                    Employees                                  \
                                min      size      sum          mean   median
Sector
Aerospace & Defense            -240        20   968057  48402.850000  24803.0
Apparel                          82        15   346397  23093.133333  13500.0
Business Services             -1481        51  1361050  26687.254902  13000.0
Chemicals                      -816        30   463651  15455.033333   7431.5
Energy                       -23119       122  1188927   9745.303279   5301.5
Engineering & Construction     -155        26   406708  15642.615385   7380.0
Financials                    -1194       139  3359948  24172.287770   7621.0
Food and Drug Stores            -62        15  1395398  93026.533333  20000.0
Food, Beverages & Tobacco      -253        43  1211632  28177.488372  11500.0
Health Care                    -458        75  2678289  35710.520000  18800.0
Hotels, Resturants & Leisure  -1394        25  2484245  99369.800000  46500.0
Household Products            -1149        28   646038  23072.785714  16561.0
Industrials                   -6126        46  1545229  33591.934783  12850.0
Materials                     -1642        43   638123  14840.069767  12000.0
Media                          -881        25   550314  22012.560000  12200.0
Motor Vehicles & Parts         -889        24  1082560  45106.666667  13550.0
Retailing                     -1243        80  6227629  77845.362500  22704.0
Technology                    -4359       102  3578949  35087.735294  12905.0
Telecommunications             -271        15   832468  55497.866667  18000.0
Transportation                 -191        36  1536793  42688.694444  16664.0
Wholesalers                    -502        40   525597  13139.925000   8700.0


                                  max   min
Sector
Aerospace & Defense            197200  6955
Apparel                         65300  5978
Business Services              216500  2400
Chemicals                       52000  1979
Energy                          75600   480
Engineering & Construction      92000  1036
Financials                     331000   187
Food and Drug Stores           431000  1616
Food, Beverages & Tobacco      263000  1857
Health Care                    203500  2924
Hotels, Resturants & Leisure   505000  8500
Household Products             110000  4406
Industrials                    333000  4104
Materials                       60000    52
Media                          185000  2341
Motor Vehicles & Parts         215000  2700
Retailing                     2300000  2155
Technology                     411798  2285
Telecommunications             281450  2700
Transportation                 341240  1223
Wholesalers                     78500   500

In [58]:
# lots of combinations
sectors.agg(func={"Revenue":["sum", "mean"], "Profits":["mean", "median"]})

                              Revenue                    Profits
                                  sum          mean         mean median
Sector
Aerospace & Defense            357940  17897.000000  1437.100000  566.5
Apparel                         95968   6397.866667   549.066667  233.0
Business Services              272195   5337.156863   553.470588  296.0
Chemicals                      243897   8129.900000   754.266667  367.5
Energy                        1517809  12441.057377  -602.024590  188.5
Engineering & Construction     153983   5922.423077   204.000000  150.5
Financials                    2217159  15950.784173  1872.007194  583.0
Food and Drug Stores           483769  32251.266667  1117.266667  192.0
Food, Beverages & Tobacco      555967  12929.465116  1195.744186  498.0
Health Care                   1614707  21529.426667  1414.853333  346.0
Hotels, Resturants & Leisure   169546   6781.840000   827.880000  195.0
Household Products             234737   8383.464286   515.285714  274.0
Industrials                    497581  10816.978261   451.391304  215.0
Materials                      259145   6026.627907   102.976744  142.0
Media                          220764   8830.560000   973.880000  151.0
Motor Vehicles & Parts         482540  20105.833333  1079.083333  233.0
Retailing                     1465076  18313.450000   597.875000  182.0
Technology                    1377600  13505.882353  1769.343137  373.0
Telecommunications             461834  30788.933333  3242.466667  747.0
Transportation                 408508  11347.444444  1226.916667  392.0
Wholesalers                    444800  11120.000000   205.825000  128.0

# Iterating through Groups

In [60]:
fortunes_location = "D:\\LIUZHICHENG\\Udemy\\Pandas\\Data Source\\pandas\\fortune1000.csv"
fortunes = pd.read_csv(fortunes_location, index_col=["Rank"])
sectors = fortunes.groupby(by=["Sector"], axis=0)
# group by Sector

In [74]:
df = pd.DataFrame(columns=fortunes.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [81]:
# sector as the group object and data as rest of data
for sector, data in sectors:
    highest_revenue_company_in_group = data.nlargest(n=1, columns="Revenue")
    df = df.append(highest_revenue_company_in_group)

In [82]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [92]:
cities = fortunes.groupby(by=["Location"])
df = pd.DataFrame(columns=fortunes.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [94]:
for city, data in cities:
    highest_revenue_city_in_group = data.nlargest(n=1, columns="Revenue")
    df = df.append(highest_revenue_city_in_group)

In [95]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
...,...,...,...,...,...,...,...
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510